/* Custom utilities */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00bcd4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0097a7;
}
